.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 $g-sm;
  width: 100%;
}

#root{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
body{
  height: 100vw;
  background-repeat: no-repeat;
  background-position: cover;
  background-size: unset;
}

*,*::before,*::after {
  box-sizing: border-box;
}
ul,ol {
  padding: 0;
}
body,h1,h2,h3,h4,p,ul,ol,li,figure,figcaption,blockquote,dl,dd {
  margin: 0;
}
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}
ul[class],ol[class] {
  list-style: none;
}
a:not([class]) {
  text-decoration-skip-ink: auto;
}
img {
  max-width: 100%;
  display: block;
}
article > * + * {
  margin-top: 1em;
}
input,button,textarea,select {
  font: inherit;
}
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

body.overflow {
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

img, iframe, video {
  max-width: 100%;
  height: auto;
}

button,
.btn,
a {
  color: $body-color;
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  transition: color $transition, background $transition, border-color $transition, fill $transition, opacity $transition;
}
